<div class="row">
  <div class="col-6">
    <app-dona [title]="label1" [labels]="labels1" [data]="data1" [colorsdata]="colors1"></app-dona>
  </div>
  <div class="col-6">
    <app-dona [title]="label2" [labels]="labels2" [data]="data2" [colorsdata]="colors2"></app-dona>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <app-dona [title]="label3" [labels]="labels3" [data]="data3" [colorsdata]="colors3"></app-dona>
  </div>
  <div class="col-6">
    <app-dona [title]="label4" [labels]="labels4" [data]="data4" [colorsdata]="colors4"></app-dona>
  </div>
</div>
